@import url('https://fonts.googleapis.com/css2?family=Andika&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Andika', sans-serif !important;
  position: relative;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.appWrapper {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(2, 0, 7);
}

.qWrapper {
  background-color: rgb(26, 175, 150);
  color: black;
  margin-top: 20px;
  width: auto !important;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 85% 100%, 52% 100%, 2% 100%, 2% 16%);
  height: auto;

}

.abatarIcon {
  width : 50px;
}

.RobotIcon {
  width: 50px !important;
}
.qPtag {
  margin-top: 10px;
}

.ansWrapper {
  width: auto;

  background-color: rgb(41, 13, 46);
  color: #fff;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 85% 100%, 52% 100%, 2% 100%, 2% 16%);
  font-weight: 500;
  padding: 5px 50px;
  margin-top: 20px;
 
  font-family: 'Andika', sans-serif !important;
}

.findSection {
  z-index: 9999;

  top:  10px;
  left: 0;
  width: 100%;
  position: fixed;
}
.btnClass {
  background-color: gray;
  font-size: 20px;
  padding: 0;
  padding: 5px 15px;
  padding-bottom: 8px;
  border-radius: 7px;
}

@media (max-width: 768px) {
  .icon {
    display: none;
  }
  .ansWrapper {
    padding: 0px 5px;
    clip-path: none;
    


  }
  .findSection div {
    margin-left: 10px;
  }
}